@import 'ticket.css';
@import 'header.css';
@import 'login.css';
@import 'new-ticket.css';
@import "register.css";
@import "edit.css";

body {
    font-family: Raleway,sans-serif;
}

a {
    text-decoration: none;
    color: darkblue;
}

main {
    padding: 40px 120px 30px 120px;
}

.site-title {
    padding-left: 120px;
}