.tickets {
    display: flex;
}

.ticket-view .filter {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.ticket-view .ticket-list {
    height: calc(100vh - 270px);
    overflow-y: scroll;
    width: 400px;
    border: solid 1.2px;
}

.ticket-view .ticket-list .ticket {
    margin: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticket-view .ticket-box {
    width: 100%;
    margin-left: 50px;
    border: 1px solid grey;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.ticket-view .ticket-box .ticket-info {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.ticket-view .ticket-box .message {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid grey;
}

.ticket-view .ticket-box .message-string {
    width: 54%;
}

.ticket-view .ticket-box .reply
{
    display: flex;
    justify-content: flex-end;
}