.tickets {
    display: flex;
}

.pop-up-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.49);
}

.pop-up-screen .pop-up-box {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border:solid;
}

.ticket-view .filter {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.ticket-view .ticket-list {
    height: calc(100vh - 270px);
    overflow-y: scroll;
    width: 400px;
    border: solid 1.2px;
}

.ticket-view .ticket-list .ticket {
    margin: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ticket-view .ticket-box {
    width: 100%;
    margin-left: 50px;
    border: 1px solid grey;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.ticket-view .ticket-box .ticket-info {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.ticket-view .ticket-box .message {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid grey;
}

.ticket-view .ticket-box .message-string {
    width: 54%;
}

.ticket-view .ticket-box .reply
{
    display: flex;
    justify-content: flex-end;
}